@keyframes smallrotate{
	25%{
		transform:rotate(20deg);
	}
	75%{
		transform:rotate(-20deg);
	}
}

section
{
	min-height:400px;
	width:100%;
	padding:2%;
	background:url("../img/bg-blur.jpg"),linear-gradient(to bottom, white, #EEE);
}



section#main
{
	background:url("../img/bg.jpeg"), linear-gradient(to bottom, white, #EEE);
	height:400px;
}

section#info
{
	background:linear-gradient(to bottom, white, #AAA);
	background:-moz-linear-gradient(to bottom, white, #AAA);
	background:-webkit-linear-gradient(to bottom, white, #AAA);
}

section#main  h1
{
	text-shadow: 0px 0px 20px #222;
	color:white;
}

section#main img
{
	box-shadow: 0px 0px 80px #333;
	border-radius: 100%;
	animation:smallrotate 2s;
	opacity:0.8;
}

section#main  h3 > small, h4
{
	color: #2f9b31;
}

.btn
{
	border-radius:10px;
	padding-left:30px;
	padding-right:30px;
	box-shadow: 0px 0px 30px #AAA;
}

.btn-success
{
	background: #2f9b31!important;
	border:none;
}

.introicon
{
	font-size:50pt;
	padding:15pt;
	background:#2f9b31;
	border-radius: 100%;
	color:white;
	text-shadow:0px 0px 20pt #555;
	box-shadow:0px 0px 20px #555;
	text-align:center;
	animation:smallrotate 2s;
}

.introcoin:hover, section#main img:hover
{
	animation:smallrotate 2s;
}

p
{
	font-size:12pt;
	text-shadow:0px 0px 20pt #555;
}

